.lightTheme {
    transition: opacity 0.4s ease-out;
    background: radial-gradient(circle at center center, #2b87ff 20%, #fdfdfd 100%);
}

.darkTheme {
    transition: opacity 0.4s ease-out;
    background: radial-gradient(circle at center center, #b14fc0 30%, #1a1a1a 100%);
}
