@import 'tailwindcss';

:root {
    --bg-z-index: 0;
    --main-content-z-index: 1;
}

:root[data-theme='light'] {
    --primary-color: #131313;
    --primary-reverse-color: #f7f7f7;
    --primary-transparent: rgb(255, 255, 255, 0.75);
    --primary-reverse-transparent: rgb(0, 0, 0, 0.75);
    --accent-color: #4696ff;
    --same-white-color: #f7f7f7;
    --success-color: #008300;
    --warning-color: #ffae00;
    --error-color: #f00;
}

:root[data-theme='dark'] {
    --primary-color: #f7f7f7;
    --primary-reverse-color: #131313;
    --primary-transparent: rgb(0, 0, 0, 0.5);
    --primary-reverse-transparent: rgb(255, 255, 255, 0.5);
    --accent-color: #b14fc0;
    --same-white-color: #f7f7f7;
    --success-color: #008300;
    --warning-color: #ffae00;
    --error-color: #f00;
}
